	<button><a href="/simulate/qubercloud/cloud/home" style="float:left">Customer List !</a></button>	
	

<br/><br/>
<br/><br/>
<div>
<div class="w50">
<form action="/simulate/rest/beacon/simulateTagDetails" method="post" id="configform" enctype='application/json'>

<div class="form-group  disp-inline" style="display: none;">
							<input	style="width: 250px" name="cid" id="cid" value="{{cid}}">
						</div>
						
 	<div class="form-group">
		<div class="mylable">Simulate</div>
		<div class="myinput">
		<select class="form-control sideStyle" id="simulation" name="simulation">
		
			<option value="enable">Enable</option>
			<option value="disable">Disable</option>
		</select>
		</div>
	</div><br/>
	<div class="form-group">
		<div class="mylable">Simulate Via</div>
		<div class="myinput">
		<select class="form-control sideStyle" id="simulateVia" name="simulateVia">
			<option value="mqtt">MQTT</option>
			<option value="kafka">Kafka</option>
			<option value="rest">Rest</option>
		</select>
		</div>
	</div><br/>
	<div class="form-group">
		<div class="mylable">Tag Count</div>
		<div class="myinput">
				<input type="number" class="form-control sideStyle" id="tagCount" name="tagCount" value="1">
		</div>
	</div><br/>
	<div class="form-group">
		<div class="mylable">Device Count</div>
		<div class="myinput">
				<input type="number" class="form-control sideStyle" id="deviceCount" name="deviceCount" value="1">
		</div>
	</div><br/>
	<div class="form-group">
		<div class="mylable">Max Count</div>
		<div class="myinput">
				<input type="number" class="form-control sideStyle" id="maxCount" name="maxCount" value="3">
		</div>
	</div><br/><br/>
	
	
	<button type="submit" class="btn btn-primary btn3d btn-config-venue"  width-120" id="valsubmit"  style="float:left">Submit</button>									
		<p id="para" style="margin-top: 0;margin-left: 100px"></p>								
	
	</form>
	</div>
	
	<style>
	.w50 { float:left; width:50%; max-width:450px; margin-top: 5px; margin-bottom: 10px;}
				.form-control { height:30px!important; font-size:12px;} 
				.sideStyle{
				       margin-top: -23px;
					    float: left;
					    width: 35%;
					    margin-left: 100px;
				}
	</style>
	<script src="/simulate/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/simulate/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/simulate/static/qubercomm/js/jquery_validate_min_js.js" type="text/javascript"></script>

<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

<script type="text/javascript" src="/simulate/static/qubercomm/js/jquery.nicescroll.min.js"></script>

<script type="text/javascript" src="/simulate/static/qubercomm/js/common.js"></script>
<script type="text/javascript" src="/simulate/static/qubercomm/js/handlebars.min.js"></script>
	
 <script>
$(document).ready(function() {
    $("#configform").validate({
        rules: {
            tagCount: "required",
            deviceCount: "required",
            maxCount: "required"
        },
        messages: {
            maxCount: ""

        }
    })

    $('#valsubmit').click(function() {
        $("#configform").valid();
    });
    
    
    $('#configform').submit(function(){
    
    $.ajax({
      url: $('#configform').attr('action'),
      type: 'POST',
      data : $('#configform').serialize(),
      success: function(response){
        console.log('form submitted.' + response);
        if(response == true){
         $('#para').text("simulation success !!!")
        } else {
         $('#para').text("simulation Failure !!!")
        }
       
      }
    });
    return false;
});
    
    
    
    
});

 </script>
 
	</div>